In [6]:
import pandas as pd

In [26]:
feature_count = 5464
graph_count = 10000

## Read in positive and negative graph IDs

In [11]:
feature_count = 3083
graph_count = 10000
graphIDs = ['']*feature_count
pattern_codes = {}

with open('/Users/nickfitzhugh/NF_GAIA_implementation_package/featureResult.txt', 'r') as file:
    #graphIDs = file.readlines()[5::8]

    for i, line in enumerate(file):
        if i % 3 == 0:
            pattern_codes[i//3] = [int(ele) for ele in line[:-2].split()] 
        if i % 3 == 1:
            graphIDs[i//3] = line[:-2]
        if i % 3 == 2:
            if len(line) > 2:
                graphIDs[i//3] += ' ' + line[:-2]

numbers in pattern codes are node/edge labels not node/edge IDs!!!!

## Convert each feature's graph IDs to list of ints
need to find a way to do this with negative graph IDs without loosing the feature that it is associated with

In [12]:
for i, lst in enumerate(graphIDs):
    lst = lst.split()
    for j, gID in enumerate(lst):
        lst[j] = int(gID)
    graphIDs[i] = lst

## Create DataFrame

In [13]:
data = {}
for i, lst in enumerate(graphIDs):
    tmp = [0] * graph_count
    for gID in lst:
        last = gID
        tmp[gID] = 1
    data[i] = tmp

df = pd.DataFrame(data, columns=list(range(feature_count)))

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082
0,0,1,1,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

# Random Forest Classification

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'